body {
	font-family: sans-serif;
	font-size: 15px;
}
.leaflet-container, .full-page {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	font-size: 1rem;
  }
  .go-to-button {
	position: relative;
	margin-top: 5px;
	margin-left: 16px;
	float: left;
	z-index: 401;
  }

  .leaflet-popup-content {
	margin: 0;
  }

  .leaflet-popup-content-wrapper {
	box-shadow: none;
	background: none;
	padding: 0px;
  }

  .error-alert {
	position: relative;
	margin-top: 12px;
	margin-right: 12px;
	width: auto;
	float: right;
	z-index: 999;
	width: 50vw;
  }

  .leaflet-control-zoom {
	margin-bottom: 60px !important;
  }

  /* #location-search {
	min-width: 70%;
	display: inline;
	right: 0;
	bottom: 0;
  } */

  /* .form-inline {
	width: 100%;
  } */
 .form {
	 width: auto;
	 z-index: 1001;
	 position: relative;
	 display: flex;
	 flex-direction: row;
	 background-color: #007bff;
	 padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 16px;
	margin: 16px;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	align-items: center;
 }

 input {
	 width: auto;
	 min-width: 70%;
	 display: inline;
	 font-size: 15px;
	 padding-top: 0.375rem;
     padding-right: 0.75rem;
     padding-bottom: 0.375rem;
     padding-left: 0.75rem;
	 border-radius: 5px;
	 border: none;
	 margin-left: 5px;
	 outline: none;
	 height: 25px;

 }
button {
	background-color: #007bff;
	user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
	color: white;
	border-color: white;
	margin-left: 5px;
}

button:hover {
	border: none;
	color: black;
	background-color: white;
}

label {
	margin: 8px
}
